.container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 100vw;
  height: 10vh;
  background-color: #09098e;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.input {
  width: 35vw;
  height: 5vh;
  padding-left: 10px;
  border-radius: 5px;
  outline-style: none;
  color: rgb(9, 9, 142);
  border: none;
  outline: none;
}

.button {
  width: 120px;
  height: 40px;
  color: rgb(9, 9, 142);
  background-color: fff;
  outline-style: none;
  border-radius: 4px;
  border: none;
  outline: none;
}
